name: Test Code

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.21.3  # Adjust to your Go version

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.18.1  # Adjust to your Node.js version

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test

      - name: Cleanup
        run: rm -rf node_modules


      - name: Install Dependencies
        run: |
          go mod tidy
          go mod download
          npm install

      - name: Run Go Tests
        run: go test ./...

      - name: Run Angular Tests
        run: npm run test

      - name: Run TypeScript Linting
        run: npm run lint
