name: Test Code

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.21.3

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.18.1

      - name: Install Dependencies
        run: |
          go mod tidy
          go mod download
          npm install

      - name: Install Jasmine Typings from GitHub
        run: npm install --save-dev git+https://github.com/DefinitelyTyped/DefinitelyTyped.git#$(curl -s https://api.github.com/repos/DefinitelyTyped/DefinitelyTyped/git/refs/tags?namespace=jasmine | jq -r '.[0].object.sha')/types/jasmine

      - name: Run Go Tests
        run: go test ./...

      - name: Run Angular Tests
        run: npm run test

      - name: Run TypeScript Linting
        run: npm run lint
